/** { box-sizing: border-box; }*/
header, nav, main, footer, figure, figcaption { display: block; }

html {
  background: url(violet.blue.gradient.background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
 }

body { background-color: #ffe6ff;
		color: #3D0654; 
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		width: 80%;
		}
		
h1 { background-image: url(rainbowbackground.jpg);
		background-repeat: repeat-x;
		text-align: center;
		color: #8B008B;
		font-family: Georgia, "Times New Roman", serif;
		font-weight: bold;
		margin-bottom: 0;
		text-shadow: 2px 3px #d3d3d3;
		letter-spacing: 5px;
		font-size: 4.5em;
		height: 200px;
		border-bottom: 4px solid #8B008B;
}
h2 { font-family: Georgia, "Times New Roman", serif;
		text-align: center;
		background-color: #ffff66;
		color: #8B008B;
		letter-spacing: 2px;
		text-shadow: 1px 1px 1px #667;
		padding: 10px;
}
h3 { text-shadow: 1px 1px 1px #667;
		padding: 5px; 
		background-color: #ffff66; }
nav { 	float: left;
		width: 200px;
		height: 350px;
		letter-spacing: 0.1em;
		text-align: center;
		font-weight: bold;
		padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		
}

nav ul { list-style-type: none; 
          margin: 0;
          padding: 0;
		  border-top: 2px solid #8B008B;
		  border-right: 2px solid #8B008B;
		  
}
nav a { text-decoration: none; 
		text-indent: 55px;
		text-align: left;
        display: block;
		padding: 15px;    
        background-color: #ffff66;     
	    background-image: url(rainbowBurst.jpg);
		background-size: 50px;
		background-position: left;
		background-repeat: no-repeat;
		border-bottom: 4px solid #8B008B; 
		transition: background-color 3s linear;
		transition: bakground-image 3s linear;
}

nav a:link    { color: #8B008B;  }
nav a:visited { color: #0000FF; }
nav a:hover   { background-color: #cc99ff;
                 color: #000000;
				 background-image: url(rainbowhoverburst.jpg);
				 background-position: left;
				 background-repeat: none;
				 background-size: 55px;
				 }
				 
.category { font-weight: bold;
			color: #3D0654;
			font-family: Georgia, "Times New Roman", serif;
			text-shadow: 1px 1px 1px #667;
			text-indent: 0;
}
.error { float: right;
		 font-family: Arial, sans-serif;
         font-style: italic; font-size: .90em;
         color: #FF0000;
}
caption { font-family: Georgia, "Times New Roman", serif;
		font-weight: bold;
		font-size: 1.5em;
		padding-bottom: 0.5em;
		text-shadow: 1px 1px 1px #667;
}
table { margin: auto;
		border: 1px solid #3D0654;
		width: 600px;
		border-spacing: 0;
						
}
td, th { border: 1px solid #3D0654;
		padding: 0.5em;
		font-family: Arial, sans-serif;
		background-color: #ffffe6;
}
table td { text-align: center;
			margin-left: 15px;
			text-indent: 0;
			
 }
table td img { width: 35px;
			height: 35px;
			position: left; }
#content {width: auto; height: 200px;
			margin-left: auto;
			margin-right: auto;
			vertical-align: center;
			line-height: 3em;
			margin-bottom: 0;
					
}
#wrapper { width: 100%;
			min-width: 700px;
			margin-right: auto;
			margin-left: auto;
			background-color: #ffe6ff;
}
#home { font-family: Georgia, "Times New Roman", serif;
		text-align: center;
		color: #8B008B;
		letter-spacing: 2px;
		text-shadow: 1px 1px 1px #667;
		padding: 1em;
		margin-top: 0px;
		background-color: #ffff66;
}
#homeP { font-size: 20px; 
		text-align: center;
		border-bottom: 4px solid #8B008B;
		padding: 15px;
		padding-top: .25em;
		margin-left: auto;
		
}
#homeImg { float: left;
			padding-top: 10px;
			
}
#aboutImg { float: left;
			padding-top: 0px;
			margin-top: 0px;
			margin-left: -175px;
			padding-bottom: 25px;
			
}
#aboutVid { float: left;
			padding: 0px;
			margin-top: 75px;
			padding-right: 15px;
			padding-left: 20px;
}
#usuiImg { margin-left: 200px; }
#odenImg { float: left; 
			padding-top: 2em;
			margin-left: 15px;}


img { border-style: none; }


footer { background-color: #ffff66;
			font-size: .80em;
			font-style: italic;
			text-align: center;
			padding: 1em;
			text-align: center;
			text-indent: 0; 
			
}

main p { padding-left: 5px;
}

main { 	text-indent: 30px;
		font-size: 16px;
		margin-left: 200px;
		background-color: #ffe6ff;
		padding-bottom: 1em;		
}
#aboutP { margin-left: 15px;
			margin-right: 15px;
				padding-bottom: 0px;
}
#odenP { margin-left: 25px;
			margin-right: 15px;
			padding: .5em;
}

#form { margin-left: 200px;
		padding: 15px;
		
}
form { 	background-color:#cc99ff;
		font-family: Arial, sans-serif;
		padding: 10px; 
}
label { float: left;
		width: 150px; 
		text-align: right; 
		padding-right: 10px;
		margin-top: 10px; 
}
input, textarea { margin-top: 10px; 
                  display: block; 
				  min-width: 300px;
} 

#myRadio { margin-left:  250px;
			text-align: center; }
#mySubmit { margin-left: 160px; }

@media only screen and (max-width: 1024px) {
	
	body { margin: 0;
			padding: 0; 
			background-image: none;
			width: 100%; }
			
	#wrapper { width: auto;
				min-width: 0;
				margin: 0; }
	h1 { margin: 0;
			font-size: 2.5em;
			letter-spacing: 2px;
			line-height: 200%;
			background-size: 150px;	
			padding-top: .5em; 
			padding-bottom: 1em; 
			text-shadow: 2px 1px #d3d3d3; 
			border-bottom: none; }
	div header { height: 150px; }
	div nav { height: 75px;
				padding: 0;
				margin: 0; 
				}
	nav { float: none;
			height: 150px;
			padding: 0;
			width: auto; }
	nav li { display: inline-block; }
	nav a { padding: .7em;
			font-size: 1em; 
			border-bottom: none;
			background-size: 45px;
			text-indent: 55px;
			}
	nav a:hover   { background-size: 50px; }
					
	nav ul { text-align: center;
			padding: 0;
			margin: 0; 
			border-right: none;
			}
	nav li { border: 2px solid #8B008B;
			 padding: 0;
			  }
	
	main { font-size: 90%;
			margin: 0;
			padding-left: 1.5em; 
			padding-top: 2em;
			text-shadow: none;
			text-indent: 0px;
			}	
			
	#form { margin: 0; }
	footer { margin: 0; }
	

#aboutImg { float: left;
			padding-top: 75px;
			margin-left: 0;
}
@media only screen and (max-width: 768px) {
	h1 { font-size: 1.5em;
		line-height: 120%; 
		background-size: 100px;	
		text-align: left; 
		padding-bottom: 1em;
		margin-bottom: 1em;
		letter-spacing: 0; 
		text-indent: 30px;
		height: 75px;
		}
	div p { text-indent: 15px;
		margin-left: 5px; }
	div header { height: 75px; }
	div nav { padding: 0;
			  margin: 0; 
			  height: 200px; } 
	nav a { display: block;
			padding: 0.2em;
			font-size: 1em;
	background-size: 35px;
	}
	nav a:hover { background-size: 40px; } 
	nav li { display: block; }
	nav ul { text-align: left; }
	main { display: block;
			padding-left: 1em; 
			padding-top: 1em; 
    }
table { width: auto; }
#usuiImg { margin-left: 0; 
			height: 150px;
			width: 200px;}

}
